<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction braille and morse Simbols</title>
    <link rel="stylesheet" href="/static/css/styless.css">

</head>
<body>
<header>
    <ul class="nav">
        <li class="nav-item"><a href="/"> Home</a></li>
        <li class="nav-item"><a href="/draw"> Add Draw</a></li>
        <li class="nav-item"><a href="/prediction"> Prediction</a></li>
    </ul>
</header>
<h1 id="message">Dibujando...</h1>
<div class="canvas-container">
    <canvas id="myCanvas" width="500" height="500"></canvas>
</div>
<div class="button-container">
    <button class="button" id="btnClear" onclick="clearCanvas()">Clear</button>
    <button class="button" id="btnPredict" onclick="getCanvas()">send draw</button>
    <button class="button" id="prepare" onclick="prepare_model()">Preparing Data for model</button>

</div>
<script src="/static/js/config.js"></script>

</body>
</html>