<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediccion Avatar Simbols</title>
    <link rel="stylesheet" href="/static/css/styless.css">
</head>
<body>
<header>
    <ul class="nav">
        <li class="nav-item"><a href="/"> Home</a></li>
        <li class="nav-item"><a href="/draw"> Add Draw</a></li>
        <li class="nav-item"><a href="/prediction"> Prediction</a></li>
    </ul>
</header>
<h1>
    Prediction Avatar Symbols
</h1>
<main>
    <p >In this page you can draw and predict Chinese of elements</p>
    <div class="symbols">
        <img src="/static/img/symbols.jpeg" alt="symbols"/>
    </div>
</main>

</body>
</html>